$primary: #fb8151;
$secondary: #051918;
$blue: #2dd9c8;
$yellow: #ffec20;
$white: #fafafa;

/* === Setting === */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 0 30px 0;
  color: $white;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0 0 30px 0;
  color: $white;
}

p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 0 30px 0;
  color: $white;
}

/* ====== Conteneur ====== */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* ====== Flexbox ====== */
.flex-container {display: flex;}
.flex-row {flex-direction: row;}
.flex-column {flex-direction: column;}
.flex-space-between {justify-content: space-between;}
.flex-center {justify-content: center;align-items: center;}

/* ====== Boutons ====== */
.btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: $white;
  background-color: $primary;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: darken($primary, 10%);
  }
}

/* ====== Hauteur et Largeur ====== */
.w-100 {width: 100%;}
.w-75 {width: 75%;}
.w-50 {width: 50%;}
.w-25 {width: 25%;}

.h-100 {height: 100%;}
.h-75 {height: 75%;}
.h-50 {height: 50%;}
.h-25 {height: 25%;}

/* ====== Marges ====== */
.m-0 {margin: 0;}
.m-1 {margin: 1rem;}
.m-2 {margin: 2rem;}
.m-3 {margin: 3rem;}
.m-4 {margin: 4rem;}
.m-5 {margin: 5rem;}

.mt-0 {margin-top: 0;}
.mt-1 {margin-top: 1rem;}
.mt-2 {margin-top: 2rem;}
.mt-3 {margin-top: 3rem;}
.mt-4 {margin-top: 4rem;}

/* ====== Paddings ====== */
.p-0 {padding: 0;}
.p-1 {padding: 1rem;}
.p-2 {padding: 2rem;}
.p-3 {padding: 3rem;}
.p-4 {padding: 4rem;}
.p-5 {padding: 5rem;}

