@use "src/_assets/styles/global.scss" as *;

.layout {
  background-color: $secondary; // Utilise la couleur secondary comme arrière-plan
  min-height: 100vh; // Pour que ça prenne tout l'espace vertical disponible
}